@font-face {
    font-family: "Alianza Slab";
    src: url("/assets/fonts/AlianzaSlab100.otf"), format('otf'),
    url("assets/fonts/AlianzaSlab300.otf"), format('otf'),
    url("assets/fonts/AlianzaSlab400.otf"), format('otf'),
    url("assets/fonts/AlianzaSlab500.otf"), format('otf'),
    url("assets/fonts/AlianzaSlab600.otf"), format('otf'),
    url("assets/fonts/AlianzaSlab700.otf"), format('otf'),
    url("assets/fonts/AlianzaSlab800.otf"), format('otf');
}


html, body {
    margin: 0;
    padding: 0;

    font-family: "Alianza Slab";
    font-weight: 100;
}

/* Skærme min. 500px */
@media all and (min-width: 500px) {
    body {
      background: tomato;
    }
  }
  
/* Skærme min. 500px og max 640px */
@media all and (max-width: 640px) and (min-width: 501px) {
body {
    background: blue;
    }
}

/* Skærme min. 641px til max 768px */
@media all and (max-width: 768px) and (min-width: 641px) {
body {
    background: red;
    }
}

/* Skærme min. 769px til 1080px og over */
@media all and (max-width: 1080px) and (min-width: 769px), (min-width: 1080px) {
body {
    background: green;
    }
}